<ion-content [fullscreen]="true" class="content-center">
 
  <img class="img1" [src]="img" alt="Logo">

  
  <ion-card class="login-card">
    <ion-label>LOGIN</ion-label>
    
    <ion-item>
      <ion-input  label="Username" label-placement="floating" fill="outline" placeholder="Enter Username"></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-input  label="Password" label-placement="floating" fill="outline" type="password" placeholder="Enter Password"></ion-input>
    </ion-item>
    
    <ion-button (click)="tologin()">Login</ion-button>
    <ion-button (click)="toreg()">Register</ion-button>
  </ion-card>
</ion-content>
